* {
    font-family: quicksand, sans-serif;
}

.App {
    background-color: #f5f5f5;
}

.img-profile {
    max-width: 100px;
    img {
        width: 100%;
    }
}

.main-other-pages {
    padding-top: 8%;
}