.circle-footer i {
    color: #ffffff;
    font-size: 12px;
  }
  
  footer {
    background-color: #242424;
    color: #ffffff;
  }
  
  .size-title-footer {
    font-size: 25px;
  }
  
  .size-item-footer {
    font-size: 14px;
  }
  
  .icon-footer {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .list-footer {
    list-style: none;
    text-align: left;
  }
  
  .list-footer li i {
    font-size: 11px;
  }