#basic-navbar-nav {
  justify-content: space-evenly;
}

.Navbar {
  z-index: 99;
  width: 100%;
  // background: hsla(0, 0%, 15%, 0.7);
  // transition: box-shadow 0.25s ease 0s;
}

.Navbar {
  background: rgba(0, 0, 0, 0.2);
}
.Navbar.bg-isTop {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  transition: 3s all;
}

.img-person {
  width: 60px;
}
.img-person img {
  width: 100%;
  border-radius: 50%;
}
.link-nav:hover a {
  text-decoration: none;
  color: #f3c027 !important;
  transition: 1s all;
}
